.flexy {
  display: flex;
   width: 1000px;
  margin-left:200px;
  justify-content: space-between;
}


.flexy  div:nth-of-type(1) {flex-grow: 1;text-align:left;margin-left:10px}
.flexy  div:nth-of-type(2) {flex-grow: 1;text-align:left;margin-left:10px}
.flexy  div:nth-of-type(3) {flex-grow: 1;text-align:left;margin-left:10px}
.flexy  div:nth-of-type(4) {flex-grow: 1;text-align:left;margin-left:10px}
.flexy  div:nth-of-type(5) {flex-grow: 1;text-align:left;margin-left:10px}

input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:20px
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}


